modules = ["nodejs-20"]

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 8090
externalPort = 3000

[workflows]
runButton = "Start PocketBase"

[[workflows.workflow]]
name = "Start PocketBase"
author = 45342669
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start:backend"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 45342669
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start:backend"

[nix]
packages = ["unzip"]
channel = "stable-24_05"
