@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
	background-color: #1e3a8a; /* Dark blue */
	color: white;
  }
  
  .navbar a {
	text-decoration: none;
  }
  
  .navbar button {
	cursor: pointer;
  }
  
  .navbar button:hover {
	opacity: 0.9;
  }

  @keyframes bg-scrolling {
	from {
	  background-position: 0 0;
	}
	to {
	  background-position: 50px 50px;
	}
  }
  .animate-bg-scrolling {
	animation: bg-scrolling 2s linear infinite;
  }
  